Rakov backup/template/partials/about-modal.html

<div class="about-modal js__modal">
  <div class="about-modal--wrapper">
    <div class="about-modal--img"><img src="./img/about.png"/>
      <p>Александра Деменьтьева</p>
    </div>
    <div class="about-modal--content">
      <div class="tabs"><a class="tab tab_active" href="javascript:void(0)">О себе</a><a class="tab" href="javascript:void(0)">Мои достижения</a>
      </div>
      <div class="about-modal--block">
        <p>Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок. Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок. Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок.</p>
      </div>
      <div class="about-modal--share">
        <p class="about-modal--share-text">Связаться со мной</p><a class="share-icon" href="javascript:void(0)"><img src="./img/icons/social/002-vkontakte-logo.svg"/></a><a class="share-icon" href="javascript:void(0)"><img src="./img/icons/social/001-instagram.svg"/></a><a class="share-icon" href="javascript:void(0)"><img src="./img/icons/social/003-odnoklassniki.svg"/></a>
      </div>
    </div>
    <div class="search-modal--cross js__modal-cross">
      <svg class="icon">
        <use xlink:href="./img/sprite.svg#icons--053-close"></use>
      </svg>
    </div>
  </div>
</div>

src/template/partials/about-modal.pug
include ../variables.pug
include ../mixins.pug
//- About modal

.about-modal.js__modal
	.about-modal--wrapper
		.about-modal--img
			img(src="./img/about.png")
			p Александра Деменьтьева
		.about-modal--content
			.tabs
				+tab('tab_active', 'О себе')
				+tab('', 'Мои достижения')
			.about-modal--block
				p Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок. Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок. Интеллектуально развита. Ум – объем информации, уложенный в голове, как количество мегабайт. Сам по себе он бесполезен. Разум – способность анализировать эту информацию. Однако разум анализирует лишь на основании этого объема, и зачастую информация, заложенная в уме, не работает, уже устарела и имеет негативный оттенок. А вот интеллект – способность анализировать плюс интуиция: чувствовать, создавать новые ассоциативные связи, творить, генерировать, изобретать. Зреть в корень, порой, не обращая внимания на рассудок.
			.about-modal--share
				p.about-modal--share-text Связаться со мной
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/002-vkontakte-logo.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/001-instagram.svg")
				a.share-icon(href="javascript:void(0)")
					img(src="./img/icons/social/003-odnoklassniki.svg")
		.search-modal--cross.js__modal-cross
			+icon('053-close')
