src/template/partials/anketa-modal.pug
include ../variables.pug
include ../mixins.pug
.anketa-modal.js__modal
	p.small.title Выберите филиал
	p.anketa-modal--help 
		span *
		| Чтобы отправить анкету выберите филиал парнёром которого вы собираетесь стать.
	p.anketa-modal--list-title Список действующих филиалов
	form(action="")
		input(style="display:none", type="text", name="anketa", value="sended")
		.anketa--list
			label.radio(for="radio_draft1")
				.radio--block
					input#radio_draft1(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft2")
				.radio--block
					input#radio_draft2(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft3")
				.radio--block
					input#radio_draft3(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft4")
				.radio--block
					input#radio_draft4(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft5")
				.radio--block
					input#radio_draft5(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft6")
				.radio--block
					input#radio_draft6(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft7")
				.radio--block
					input#radio_draft7(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft8")
				.radio--block
					input#radio_draft8(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draft9")
				.radio--block
					input#radio_draft9(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf")
				.radio--block
					input#radio_draf(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf1")
				.radio--block
					input#radio_draf1(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf2")
				.radio--block
					input#radio_draf2(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf3")
				.radio--block
					input#radio_draf3(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf4")
				.radio--block
					input#radio_draf4(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf5")
				.radio--block
					input#radio_draf5(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf6")
				.radio--block
					input#radio_draf6(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf7")
				.radio--block
					input#radio_draf7(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf8")
				.radio--block
					input#radio_draf8(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_draf9")
				.radio--block
					input#radio_draf9(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
			label.radio(for="radio_dra")
				.radio--block
					input#radio_dra(type="radio", name="radio_draft")
					span.radio--mark
				| Произвольное название филиала
		button.anketa-modal--next.disabled(disabled=true) Продолжить
			+icon('007-right-arrow')
	.search-modal--cross.js__modal-cross
		+icon('053-close')


.anketa-modal--done.js__modal
	.anketa-modal--done-content
		img(src="./img/icons/checklist.svg", alt="")
		p.anketa-modal--step-title Ваша анкета успешно отправлена!<br>В ближайшее время с вами свяжутся.
		a.anketa-modal--ok(href="javascript:void(0)") Ок
	.search-modal--cross.js__modal-cross
		+icon('053-close')

dist/template/partials/anketa-modal.html

<div class="anketa-modal js__modal">
  <p class="small title">Выберите филиал</p>
  <p class="anketa-modal--help"> <span>*</span>Чтобы отправить анкету выберите филиал парнёром которого вы собираетесь стать.</p>
  <p class="anketa-modal--list-title">Список действующих филиалов</p>
  <form action="">
    <input style="display:none" type="text" name="anketa" value="sended"/>
    <div class="anketa--list">
      <label class="radio" for="radio_draft1">
        <div class="radio--block">
          <input id="radio_draft1" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draft2">
        <div class="radio--block">
          <input id="radio_draft2" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draft3">
        <div class="radio--block">
          <input id="radio_draft3" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draft4">
        <div class="radio--block">
          <input id="radio_draft4" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draft5">
        <div class="radio--block">
          <input id="radio_draft5" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draft6">
        <div class="radio--block">
          <input id="radio_draft6" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draft7">
        <div class="radio--block">
          <input id="radio_draft7" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draft8">
        <div class="radio--block">
          <input id="radio_draft8" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draft9">
        <div class="radio--block">
          <input id="radio_draft9" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draf">
        <div class="radio--block">
          <input id="radio_draf" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draf1">
        <div class="radio--block">
          <input id="radio_draf1" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draf2">
        <div class="radio--block">
          <input id="radio_draf2" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draf3">
        <div class="radio--block">
          <input id="radio_draf3" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draf4">
        <div class="radio--block">
          <input id="radio_draf4" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draf5">
        <div class="radio--block">
          <input id="radio_draf5" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draf6">
        <div class="radio--block">
          <input id="radio_draf6" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draf7">
        <div class="radio--block">
          <input id="radio_draf7" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draf8">
        <div class="radio--block">
          <input id="radio_draf8" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_draf9">
        <div class="radio--block">
          <input id="radio_draf9" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
      <label class="radio" for="radio_dra">
        <div class="radio--block">
          <input id="radio_dra" type="radio" name="radio_draft"/><span class="radio--mark"></span>
        </div>Произвольное название филиала
      </label>
    </div>
    <button class="anketa-modal--next disabled" disabled="disabled">Продолжить
      <svg class="icon">
        <use xlink:href="./img/sprite.svg#icons--007-right-arrow"></use>
      </svg>
    </button>
  </form>
  <div class="search-modal--cross js__modal-cross">
    <svg class="icon">
      <use xlink:href="./img/sprite.svg#icons--053-close"></use>
    </svg>
  </div>
</div>
<div class="anketa-modal--done js__modal">
  <div class="anketa-modal--done-content"><img src="./img/icons/checklist.svg" alt=""/>
    <p class="anketa-modal--step-title">Ваша анкета успешно отправлена!<br>В ближайшее время с вами свяжутся.</p><a class="anketa-modal--ok" href="javascript:void(0)">Ок</a>
  </div>
  <div class="search-modal--cross js__modal-cross">
    <svg class="icon">
      <use xlink:href="./img/sprite.svg#icons--053-close"></use>
    </svg>
  </div>
</div>
