src/template/partials/notification.pug
include ../variables.pug
include ../mixins.pug
.notification-modal.js__modal
	p.small.title Создание уведомления
	.notification-modal--steps
		.notification-modal--step.current--step(data-step="1") 1
			span
				+icon('049-mark')
		.notification-modal--step(data-step="2") 2
			span
				+icon('049-mark')
		.notification-modal--step(data-step="3") 3
			span
				+icon('049-mark')
	form.notification--form
		input(style="display:none", type="text", name="sended", value="notify")
		.notification-modal--slider
			.notification-modal--first-step
				p.notification-modal--help 
					span *
					| Чтобы включить уведомление выберите мероприятия
				p.notification-modal--step-title 
					span.hovered
						+icon('020-clock')
					| Ближайшие мероприятия:
				.notification-modal--checkboxes-block
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement")
							.checkbox--block
								input#subscriptionAgreement(type="checkbox", name="agreement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement1")
							.checkbox--block
								input#subscriptionAgreement1(type="checkbox", name="agreement2")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement2")
							.checkbox--block
								input#subscriptionAgreement2(type="checkbox", name="agreemen3t")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
				p.notification-modal--step-title 
					span
						+icon('020-clock')
					| Другие мероприятия
				.notification-modal--checkboxes-block
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement3")
							.checkbox--block
								input#subscriptionAgreement3(type="checkbox", name="agreemen4t")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement4")
							.checkbox--block
								input#subscriptionAgreement4(type="checkbox", name="agreeme5nt")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement5")
							.checkbox--block
								input#subscriptionAgreement5(type="checkbox", name="agreem6ent")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement6")
							.checkbox--block
								input#subscriptionAgreement6(type="checkbox", name="agreeme7nt")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreement7")
							.checkbox--block
								input#subscriptionAgreement7(type="checkbox", name="agreeme8nt")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreemen")
							.checkbox--block
								input#subscriptionAgreemen(type="checkbox", name="agreeme9nt")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreeme")
							.checkbox--block
								input#subscriptionAgreeme(type="checkbox", name="ag2reement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreem")
							.checkbox--block
								input#subscriptionAgreem(type="checkbox", name="ag3reement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreemen1")
							.checkbox--block
								input#subscriptionAgreemen1(type="checkbox", name="a4greement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreemen2")
							.checkbox--block
								input#subscriptionAgreemen2(type="checkbox", name="a5greement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
					.notification-modal--checkbox
						label.checkbox(for="subscriptionAgreemen3")
							.checkbox--block
								input#subscriptionAgreemen3(type="checkbox", name="a6greement")
								span.checkbox--mark
									+icon("049-mark")
							| На самом деле я — умная, но живу как дура?
			.notification-modal--second-step
				p.notification-modal--help 
					span *
					| Выберите удобный для вас способ уведовления
				p.notification-modal--step-title Способ уведомления:
				.notification-modal--checkboxes-block
					.notification-modal--checkbox.wide
						label.checkbox(for="subscriptionAgreem32")
							.checkbox--block
								input#subscriptionAgreem32(type="checkbox", name="agreemen4t2")
								span.checkbox--mark
									+icon("049-mark")
							| SMS
					.notification-modal--checkbox.wide
						label.checkbox(for="subscriptionAgreement44")
							.checkbox--block
								input#subscriptionAgreement44(type="checkbox", name="agreeme53nt")
								span.checkbox--mark
									+icon("049-mark")
							| E-mail
			.notification-modal--third-step
				p.notification-modal--help 
					span *
					| Введите ваши контактные данные
				p.notification-modal--step-title Контактные данные:
				label.input(for="notifyPhone") Контактный телефон
					input#notifyPhone(type="text", placeholder="+7 ( XXX ) - XXX - XX - XX", name="notifyPhone")
				label.input(for="notifyEmail") Адрес эл. почты
					input#notifyEmail(type="text", placeholder="Введите ваш e-mail", name="notifyEmail")
		.notification-modal--buttons
			button.send-button(type="submit") Отправить
				span
					+icon('010-paper-plane')
	.search-modal--cross.js__modal-cross
		+icon('053-close')
.notification-modal--done.js__modal
	.notification-modal--done-content
		img(src="./img/icons/happiness.svg", alt="")
		p.notification-modal--step-title Поздравляем!<br>Уведомление активировано
		a.notification-modal--ok(href="javascript:void(0)") Ок
	.search-modal--cross.js__modal-cross
		+icon('053-close')

dist/template/partials/notification.html

<div class="notification-modal js__modal">
  <p class="small title">Создание уведомления</p>
  <div class="notification-modal--steps">
    <div class="notification-modal--step current--step" data-step="1">1<span>
        <svg class="icon">
          <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
        </svg></span></div>
    <div class="notification-modal--step" data-step="2">2<span>
        <svg class="icon">
          <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
        </svg></span></div>
    <div class="notification-modal--step" data-step="3">3<span>
        <svg class="icon">
          <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
        </svg></span></div>
  </div>
  <form class="notification--form">
    <input style="display:none" type="text" name="sended" value="notify"/>
    <div class="notification-modal--slider">
      <div class="notification-modal--first-step">
        <p class="notification-modal--help"> <span>*</span>Чтобы включить уведомление выберите мероприятия</p>
        <p class="notification-modal--step-title"> <span class="hovered">
            <svg class="icon">
              <use xlink:href="./img/sprite.svg#icons--020-clock"></use>
            </svg></span>Ближайшие мероприятия:</p>
        <div class="notification-modal--checkboxes-block">
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreement">
              <div class="checkbox--block">
                <input id="subscriptionAgreement" type="checkbox" name="agreement"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreement1">
              <div class="checkbox--block">
                <input id="subscriptionAgreement1" type="checkbox" name="agreement2"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreement2">
              <div class="checkbox--block">
                <input id="subscriptionAgreement2" type="checkbox" name="agreemen3t"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
        </div>
        <p class="notification-modal--step-title"> <span>
            <svg class="icon">
              <use xlink:href="./img/sprite.svg#icons--020-clock"></use>
            </svg></span>Другие мероприятия</p>
        <div class="notification-modal--checkboxes-block">
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreement3">
              <div class="checkbox--block">
                <input id="subscriptionAgreement3" type="checkbox" name="agreemen4t"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreement4">
              <div class="checkbox--block">
                <input id="subscriptionAgreement4" type="checkbox" name="agreeme5nt"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreement5">
              <div class="checkbox--block">
                <input id="subscriptionAgreement5" type="checkbox" name="agreem6ent"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreement6">
              <div class="checkbox--block">
                <input id="subscriptionAgreement6" type="checkbox" name="agreeme7nt"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreement7">
              <div class="checkbox--block">
                <input id="subscriptionAgreement7" type="checkbox" name="agreeme8nt"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreemen">
              <div class="checkbox--block">
                <input id="subscriptionAgreemen" type="checkbox" name="agreeme9nt"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreeme">
              <div class="checkbox--block">
                <input id="subscriptionAgreeme" type="checkbox" name="ag2reement"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreem">
              <div class="checkbox--block">
                <input id="subscriptionAgreem" type="checkbox" name="ag3reement"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreemen1">
              <div class="checkbox--block">
                <input id="subscriptionAgreemen1" type="checkbox" name="a4greement"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreemen2">
              <div class="checkbox--block">
                <input id="subscriptionAgreemen2" type="checkbox" name="a5greement"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
          <div class="notification-modal--checkbox">
            <label class="checkbox" for="subscriptionAgreemen3">
              <div class="checkbox--block">
                <input id="subscriptionAgreemen3" type="checkbox" name="a6greement"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>На самом деле я — умная, но живу как дура?
            </label>
          </div>
        </div>
      </div>
      <div class="notification-modal--second-step">
        <p class="notification-modal--help"> <span>*</span>Выберите удобный для вас способ уведовления</p>
        <p class="notification-modal--step-title">Способ уведомления:</p>
        <div class="notification-modal--checkboxes-block">
          <div class="notification-modal--checkbox wide">
            <label class="checkbox" for="subscriptionAgreem32">
              <div class="checkbox--block">
                <input id="subscriptionAgreem32" type="checkbox" name="agreemen4t2"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>SMS
            </label>
          </div>
          <div class="notification-modal--checkbox wide">
            <label class="checkbox" for="subscriptionAgreement44">
              <div class="checkbox--block">
                <input id="subscriptionAgreement44" type="checkbox" name="agreeme53nt"/><span class="checkbox--mark">
                  <svg class="icon">
                    <use xlink:href="./img/sprite.svg#icons--049-mark"></use>
                  </svg></span>
              </div>E-mail
            </label>
          </div>
        </div>
      </div>
      <div class="notification-modal--third-step">
        <p class="notification-modal--help"> <span>*</span>Введите ваши контактные данные</p>
        <p class="notification-modal--step-title">Контактные данные:</p>
        <label class="input" for="notifyPhone">Контактный телефон
          <input id="notifyPhone" type="text" placeholder="+7 ( XXX ) - XXX - XX - XX" name="notifyPhone"/>
        </label>
        <label class="input" for="notifyEmail">Адрес эл. почты
          <input id="notifyEmail" type="text" placeholder="Введите ваш e-mail" name="notifyEmail"/>
        </label>
      </div>
    </div>
    <div class="notification-modal--buttons">
      <button class="send-button" type="submit">Отправить<span>
          <svg class="icon">
            <use xlink:href="./img/sprite.svg#icons--010-paper-plane"></use>
          </svg></span></button>
    </div>
  </form>
  <div class="search-modal--cross js__modal-cross">
    <svg class="icon">
      <use xlink:href="./img/sprite.svg#icons--053-close"></use>
    </svg>
  </div>
</div>
<div class="notification-modal--done js__modal">
  <div class="notification-modal--done-content"><img src="./img/icons/happiness.svg" alt=""/>
    <p class="notification-modal--step-title">Поздравляем!<br>Уведомление активировано</p><a class="notification-modal--ok" href="javascript:void(0)">Ок</a>
  </div>
  <div class="search-modal--cross js__modal-cross">
    <svg class="icon">
      <use xlink:href="./img/sprite.svg#icons--053-close"></use>
    </svg>
  </div>
</div>
